{
  "extends": "airbnb/base",
  "parserOptions": {
    "sourceType": "module"
  },
  "ignore": [
    "validator.js",
    "validator.min.js",
    "test"
  ],
  "env": {  
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "camelcase": [0],
    "prefer-template": 0,
    "no-param-reassign": [0],
    "one-var": 0,
    "func-names": 0
  }
}