########################
# node.js / npm
########################
node_modules
lib-cov

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
nbproject/private/
.idea

########################
# local config
########################
coverage
dist/validator.js
dist/validator_.js