name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 24
      uses: actions/setup-node@v5
      with:
        node-version: 24
        registry-url: https://registry.npmjs.org/
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: npm install --legacy-peer-deps
    - name: Run Tests
      run: npm test
    - name: Publish Package to NPM Registry
      run: npm publish
