name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 14
      uses: actions/setup-node@v2-beta
      with:
        node-version: 14
        check-latest: true
        registry-url: https://registry.npmjs.org/
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Install Dependencies
      run: npm install
    - name: Run Tests
      run: npm test
    - name: Publish Package to NPM Registry
      run: npm publish --provenance
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}
